body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	background: url(images/earth-1500-100.png) top center no-repeat;
	font-family: 'Amethysta', serif;
}
.head {
	width: 1000px;
	height: 200px;
	margin: auto;
	text-align: center;
}
.head .logo {
	margin-top: 5px;
}
.head .signPosts a.sign {
	top: -15px;
	color: #444;
	width: 145px;
	height: 55px;
	margin: 0 40px;
	outline: none;
	padding: 43px 0 0 7px;
	display: inline-block;
	position: relative;
	text-decoration: none;
	background: url(images/blank-sign-post-04.png) no-repeat;
}
.head .signPosts a.sign.home {
	top: -25px;
}
.head .signPosts a.sign.products {
}
.head .signPosts a.sign.events {
}
.head .signPosts a.sign.affiliates {
	top: -25px;
}
.head .signPosts a.sign span {
	font-size: 29px;
	font-family: 'Overlock', cursive;
}
.page {
	margin: auto;
	width: 1000px;
/*	width: 990px;
	border: 2px solid #abc;
	padding: 3px;
	background: #eee;*/
}
